# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Juego-2D.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity projects\Juego-2D\Juego-2D\.idea\.idea.Juego-2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
